{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Airbnb Calculator</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
<script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>

<div class="row">
  <div class="col-left calculator-section">
    <div class="calculator">
      <div class="row">
        <img src="{% static 'img/logo.png' %}" class="logo"/>
      </div>
      <h1>How much can <span class="rausch-text">Airbnb</span> help pay rent?</h1>
      <div class="calc-function">
        <div class="row">
          <input id="zipcode-input" class="zipcode-input" type="text" placeholder="Zipcode (19104)"/>
        </div>
        <div class="row">
          <div class="col-2-margin left-2">
            <div class="result-title">
              Typical monthly Rent*
            </div>
            <div class="calc-av" id="monthly-rent">
            </div>
          </div>
          <div class="col-2-margin">
            <div class="result-title">
              Nightly <span class="rausch-text">Airbnb</span> Earnings**
            </div>
            <div class="calc-av" id="airbnb-earnings">
            </div>
          </div>
        </div>
        <div class="nights-calc">
          <div class="nights-title">Number of nights to cover rent</div>
          <div class="row nights-row">
            <div class="col-2 nights-percent">
              10% of rent
            </div>
            <div class="col-2 nights" id="ten-nights">
            </div>
          </div>
          <hr>
          <div class="row nights-row">
            <div class="col-2 nights-percent">
              30% of rent
            </div>
            <div class="col-2 nights" id="thirty-nights">
            </div>
          </div>
          <hr>
          <div class="row nights-row">
            <div class="col-2 nights-percent">
              50% of rent
            </div>
            <div class="col-2 nights" id="fifty-nights">
            </div>
          </div>
        </div>

        <div class ='row'> 

        <div class="nights-title">Notes</div>
          <div class="row nights-row">
            <div class="col-6 nights-row">
              * The American Community Survey 5 year estimate of median gross rent (Table B25064) for the chosen zip code tabulation area.
            </div>
            <div class="col-6 nights-row">
              ** This estimate is calculated for the chosen zip code tabulation area by first calculating the average nightly earnings, over all trips in the last year, of each listing that had a trip in the last year, and then taking the median across listings.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-right" id="map"></div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX7TibNfGL3O6opAcUYUXMoNC-MasTr5U&callback=initMap" async defer></script>
<script>
  var map;
  var zipcodePolygons = [];
  var highlighted_polygon;
  var polygons;

  // TODO: Move all of this stuff over to an external Javascript file or several

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 38.901291, lng: -77.037206},
      zoom: 12
    });

    var zipcode_bounds = JSON.parse('{{dc_polygons}}');

    drawPolygons(zipcode_bounds);
  }

  $(document).ready(function() {

    clearResults()

    $('#zipcode-input').on('input', function() {

      clearResults();

      if ($(this).val().length == 5 && /^\d+$/.test($(this).val())) {
        var zipcode = parseInt($(this).val());

        checkZipcode(zipcode);

      }
    });
  });

  /**************************************
            Map Functions
  **************************************/


  function checkZipcode(zipcode) {
    $.ajax({
      url: "/check_zipcode",
      type: "get",
      data: { zipcode: zipcode },
      success: function(result){
        if (result) {
          if (result == "in") {
            showZipcodeRentInfo(zipcode);
            updateCenterMap(zipcode);
            drawNeighborPolygons(zipcode);
            highlightPolygonFromZipcode(zipcode);
          } else {
            alertNoData();
          }
        }
      }
    });
  }

  // Draw the initial polygons on the map
  function drawPolygons(bounds) {
    for (var i=0; i<bounds.length; i++) {
      var coords = [];
      var bounds_arr = bounds[i][1];
      for (var j=0; j<bounds_arr.length; j++) {
        coords.push({lat: bounds_arr[j][0], lng: bounds_arr[j][1]});
      }

        polygons = new google.maps.Polygon({
        paths: coords,
        strokeColor: '#00A699',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#00A699',
        fillOpacity: 0.35
      });

      polygons.setMap(map);

      var polygonZipcode = bounds[i][0];

      // Push both the zipcode and the polygon into an array to access elsewhere
      zipcodePolygons.push([polygonZipcode, polygons]);

      polygons.addListener('click', getZipcodePolygonAndRentInfo);
    }
  }

  function getZipcodePolygonAndRentInfo(event) {

    clearResults();

    var vertices = this.getPath();
    var currentZipcode = zipcodeForLocation(event.latLng);

    $('#zipcode-input').val(currentZipcode.toString());
    showZipcodeRentInfo(currentZipcode);

    highlightPolygonFromVertices(vertices);
  }

  function highlightPolygonFromZipcode(zipcode) {
    $.ajax({
      url: "/get_bounds",
      type: "get",
      data: { zipcode: zipcode },
      success: function(result){
        if (result) {
          var vertices = result.map(function(point) {
            return {lat: parseFloat(point.fields.lat), lng: parseFloat(point.fields.lng)};
          });

          highlightPolygonFromVertices(vertices);
        }
      }
    });
  }

  function highlightPolygonFromVertices(vertices) {
    highlighted_polygon = new google.maps.Polygon({
      paths: vertices,
      strokeColor: '#CCFFCC',
      strokeOpacity: 1.0,
      strokeWeight: 3,
      fillColor: '#00A699',
      fillOpacity: 0.1
    });

    highlighted_polygon.setMap(map);
  }

  // Take in a set of coordinates, returns the zipcode they are in
  function zipcodeForLocation(latlng) {
    for (var i=0; i<zipcodePolygons.length; i++) {
      if (google.maps.geometry.poly.containsLocation(latlng, zipcodePolygons[i][1])) {
        return zipcodePolygons[i][0];
      }
    }
  }

  /**************************************
            Rent Info Functions
  **************************************/

  function showZipcodeRentInfo(zipcode) {
    $.ajax({
      url: "/get_zipcode",
      type: "get",
      data: { zipcode: zipcode },
      success: function(result){
        if (result) {
          zipcode_data = result[0].fields;
          if (
            zipcode_data.monthly_rent == null ||
            zipcode_data.nightly_rev == null ||
            zipcode_data.payoff_nights == null
          ) {
            return;
          }
          updateResults(
            "$" + zipcode_data.monthly_rent,
            "$" + zipcode_data.nightly_rev,
            "\u00a0" + Math.round((zipcode_data.payoff_nights*0.1)*10)/10  + " nights on Airbnb",
            "\u00a0" + Math.round((zipcode_data.payoff_nights*0.3)*10)/10  + " nights on Airbnb",
            "\u00a0" + Math.round((zipcode_data.payoff_nights*0.5)*10)/10 + " nights on Airbnb"
          );
        }
      }
    });
  }

  function clearResults() {
    if (highlighted_polygon != null)
      highlighted_polygon.setMap(null);

    var empty = "- -";
    updateResults(empty, empty, empty, empty, empty);
  }

  function removeLine() {
  polygons.setMap(null);
  }

  function updateResults(monthly_rent, airbnb_earnings, ten, thirty, fifty) {
    if (monthly_rent == null || airbnb_earnings == null || ten == null || thirty == null || fifty == null) {
      return;
    }

    $('#monthly-rent').text(monthly_rent);
    $('#airbnb-earnings').text(airbnb_earnings);
    $('#ten-nights').text(ten);
    $('#thirty-nights').text(thirty);
    $('#fifty-nights').text(fifty);
  }

  function updateCenterMap(zipcode) {
    
    $.ajax({
      url: "/get_bounds",
      type: "get",
      data: { zipcode: zipcode },
      success: function(result){
        if (result) {

          var vertices = result.map(function(point) {
              return {lat: parseFloat(point.fields.lat), lng: parseFloat(point.fields.lng)};
            });
          
          centerLat = d3.mean(vertices, function(d) {return d.lat});
          centerLng = d3.mean(vertices, function(d) {return d.lng});

          map.setCenter({
            lat : centerLat,
            lng : centerLng
            });

      }
    }
  });
  }

  function drawNeighborPolygons(zipcode){
      $.ajax({
        url: "/get_neighbors",
        type: "get",
        data: { zipcode: zipcode },
        success: function(result){
          if (result) {
            drawPolygons(result);            
          }
        }
      });
    }

   /**************************************
            Misc functions
  **************************************/

  function alertNoData(){
    alert('sorry I do not have data for this zipcode');
  }


</script>

<div id="map"></div>

</body>
</html>
