{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Airbnb Calculator</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="calculator-section">
  <div class="calculator">
    <h1>How much can <span class="rausch-text">Airbnb</span> help pay rent?</h1>
    <div class="row calc-function">
      <div class="col-2">
        <input class="zipcode-input" type="text" placeholder="Zipcode (e.g. 19104)"/>
      </div>
      <div class="col-2">
        <div class="calc-result">
          $627
        </div>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.772123, lng: -122.405293},
      zoom: 13
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_lQjnyPUKIFIgUYQmEPoHp-IzVDLJrkA&callback=initMap"
async defer></script>

</body>
</html>
