@font-face {
  font-family: 'Circular Air Pro';
  src: url('../fonts/Circular Air Pro-Book.otf') format("opentype");
}

@font-face {
  font-family: 'Circular Air Pro-Light';
  src: url('../fonts/Circular Air Pro-Light.otf') format("opentype");
}

* { margin:0; padding:0; }

body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'Circular Air Pro';
  color: #484848;
}

.row:before,
.row:after {
  content:"";
  display: table;
  clear:both;
}

.row {
  height: 100%;
  position: relative;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  height: 100%;
  display:block;
  position: relative;
}

.col-2-margin {
  width: calc(50% - 15px);
}

.col-08 {
  width: 80%;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.left-2 {
  margin-right: 30px;
}

.col-left {
  width: 45%;
}

.col-right {
  width: 55%;
}

.col-3 {
  width: 33%;
}

.margin-bottm-1 {
  margin-bottom:1em;
}

@media all and (max-width:600px){
  .col-left, .col-right{ width: 100%; }
  .message{ width: 70%; }
}

.calculator-section {
  margin: auto;
}

.calculator {
  max-width: 1000px;
  margin: auto;
  position: relative;
  padding: 40px;
  padding-top: 15px;
}

.logo {
  width: 60px;
  height: auto;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.title {
  font-family: 'Circular Air Pro';
  font-weight: bold;
  color: #4A4A4A;  
  font-size: 35px;
  width:70%;
}

.subtitle{
  color: #4A4A4A;
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Circular Air Pro-Light';
}

.hyperlink{
  color: #00A699;
  text-decoration: none;
}

.title-text {
  font-family: 'Circular Air Pro-Light';
  color: #444;  
  font-size: 48px;
  width:80%;
}

hr{
border: 0;
border-top: 1px solid #eee;
clear: both;
margin: 22px 0;
width: 48px;
}

.calc-function {
  width: 80%;
}

.rausch-text {
}

input:focus {
  outline: none !important
}

input {
  font-size: 16px;
  color: #484848;
  line-height: 24px;
  margin: 0px;
  font-weight: 200;
  background-color: transparent;
  padding: 11px;
  width: 85%;
  border: 1px solid #DBDBDB;
}

.input-title{
  margin-bottom:0.5em;
}

.result-title {
  font-family: 'Circular Air Pro';
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.calc-av {
  float: left;
  height: 30px;
  color: #888;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 8px;
  width: calc(100% - 16px);
  cursor: default;
}

.nights-calc {
  margin-top: 35px;
}

.notes-title {
  font-family: 'Circular Air Pro';
  color: #444;
  font-size: 16px;
  margin-bottom: 10px;
}

.notes-text{
  font-family: 'Circular Air Pro-Light';
  font-size: 12px;
}

.nights-percent {
  text-align: left;
}

.nights {
  text-align: right;
}


.figures{
  font-size: 28px;
  font-weight: bold;
}

.figures-legend{
  font-family: 'Circular Air Pro-Light';
  font-size: 16px;

}

/*temp*/
#map {
  flex-grow: 1;
}

.legend-title{
  font-family: 'Circular Air Pro';
  color: #444;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 40px
}

#legend{
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: white;
  padding-right: -18px;
  padding-bottom: 15px;
  opacity: 0.95;
}

#legend-container{
  width: 400px;
  height: 65px;
  font-size: 13px;
  fill: #555;
  margin-left:40px;
}
