@font-face {
  font-family: 'Circular Air Pro';
  src: url('../fonts/Circular Air Pro-Book.otf') format("opentype");
}

@font-face {
  font-family: 'Circular Air Pro-Light';
  src: url('../fonts/Circular Air Pro-Light.otf') format("opentype");
}

* { margin:0; padding:0; }

body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'Circular Air Pro'
}

hr {
  height: 1px;
  border: none;
  color: #DDD;
  background-color: #DDD;
}

.row:before,
.row:after {
  content:"";
  display: table;
  clear:both;
}

.row {
  height: 100%;
  position: relative;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  height: 100%;
  display:block;
  position: relative;
}

.col-2-margin {
  width: calc(50% - 15px);
}

.col-2 {
  width: 50%;
}

.left-2 {
  margin-right: 30px;
}

.col-left {
  width: 45%;
}

.col-right {
  width: 55%;
}

.col-3 {
  width: 33%;
}

@media all and (max-width:600px){
  .col-left, .col-right{ width: 100%; }
  .message{ width: 70%; }
}

.calculator-section {
  margin: auto;
}

.calculator {
  max-width: 1000px;
  margin: auto;
  position: relative;
  padding: 50px;
}

.logo {
  width: 60px;
  height: auto;
  float: left;
  margin-bottom: 50px;
  margin-top: 40px;
}

.title-text {
  font-family: 'Circular Air Pro-Light';
  color: #444;  
  font-size: 48px;
  width:80%;
}

.calc-function {
  width: 80%;
}

.rausch-text {
}

.input {
    font-size: 48px;
    color: #444;
    font-family: 'Circular Air Pro-Light';
    border: 0;
    border-left: 190px;
    text-align: center;
    border-bottom: 2px solid #DADCDF;
    border-width: 1px;
}

.result-title {
  font-family: 'Circular Air Pro';
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.calc-av {
  float: left;
  height: 30px;
  color: #888;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 8px;
  width: calc(100% - 16px);
  cursor: default;
}

.nights-calc {
  margin-top: 35px;
}

.notes-title {
  font-family: 'Circular Air Pro';
  color: #444;
  font-size: 28px;
  margin-bottom: 25px;
  margin-top: 25%;
}

.nights-row {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #888;
  font-size: 18px;
}

.nights-percent {
  text-align: left;
}

.nights {
  text-align: right;
}

/*temp*/
#map {
  flex-grow: 1;
}

.legend-title{
  font-family: 'Circular Air Pro';
  color: #444;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 40px
}

#legend{
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: white;
  padding-right: -18px;
  padding-bottom: 15px;
  opacity: 0.95;
}

#legend-container{
  width: 400px;
  height: 65px;
  font-size: 13px;
  fill: #555;
  margin-left:40px;
}
